<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafa.repository.staff.StaffRepository">
	
	<resultMap type="staffVO" id="staffMap">
		<id property="staffId" column="staffId"/>
	  	<result property="staffId" column="staffId"/>
	  	<result property="staffPwd" column="staffPwd"/>
	  	<result property="staffName" column="staffName"/>
	  	<result property="staffEmail" column="staffEmail"/>
	  	<result property="staFirPhoneNum" column="staFirPhoneNum"/>
	  	<result property="staMidPhoneNum" column="staMidPhoneNum"/>
	  	<result property="staLastPhoneNum" column="staLastPhoneNum"/>
	  	<result property="staffRank" column="staffRank"/>
	  	<result property="enabled" column="enabled"/>
	  	<result property="regDate" column="regDate"/>
	  	<result property="updateDate" column="updateDate"/>
	  	<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="authVO" id="authMap">
		<result property="staffId" column="staffId"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="read" resultMap="staffMap">
		select s.StaffId, StaffPwd, StaffName, StaffEmail, enabled,
	        StaFirPhoneNum,StaMidPhoneNum,StaLastPhoneNum,StaffRank,
	  		regDate, updateDate, a.auth 
	  	from Staff_tbl s left outer join Staff_auth_tbl a
		on s.StaffId = a.StaffId where s.StaffId=#{staffId}
	</select>
	
	<insert id="insert">
		insert into Staff_tbl(StaffId, StaffPwd, StaffName, StaffEmail, StaFirPhoneNum, StaMidPhoneNum, StaLastPhoneNum, StaffRank)
		values(#{staffId}, #{staffPwd}, #{staffName},#{staffEmail},#{staFirPhoneNum},#{staMidPhoneNum},#{staLastPhoneNum},#{staffRank})
	</insert>
	
	<update id="update">
		update Staff_tbl set
			StaffName = #{StaffName}, 
			StaffEmail = #{staffEmail},
			StaFirPhoneNum = #{staFirPhoneNum},
			StaMidPhoneNum = #{staMidPhoneNum},
			StaLastPhoneNum = #{staLastPhoneNum}
		where StaffId = #{staffId}
	</update>
	
	<select id="selectById" resultType="staffVO">
		select StaffId, StaffPwd, StaffName, StaffEmail, StaFirPhoneNum, StaMidPhoneNum, StaLastPhoneNum
		from Staff_tbl where StaffId=#{staffId}
	</select>
	
	<select id="selectByEmail" resultType="string">
		select StaffId from Staff_tbl
		where StaffEmail = #{staffEmail}
	</select>
	
	<update id="updatePassword">
		update Staff_tbl set
			StaffPwd = #{staffPwd} 
		where StaffId = #{staffId}
	</update>
	
</mapper>