<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafa.repository.advice.AdviceRepository">
	
	<insert id="insert">
		insert into advice_tbl(vno, content, sno, cno, StaffId)
		values(seq_adv.nextval, #{content}, #{sno}, #{cno}, #{staffId})
	</insert>
	
	<select id="read" resultType="advice">
		select a.content content
	  		from advice_tbl a, Sell_tbl s
			where s.sno = a.sno and
        a.vno = #{vno}
	</select>
	
	<update id="update">
		update advice_tbl set
			content = #{content}
		where vno = #{vno}
	</update>
	
	<delete id="delete">
		delete from advice_tbl where vno = #{vno}
	</delete>
</mapper>